*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover,
.calculator-grid > button:focus{
    background-color: rgba(255, 255, 255, .9);
}
.span-two {
  grid-column: span 2;
}
.output {
  grid-column: 1/ -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}
.output .previous-operant {
  color: rgba(255, 255, 255, 0.75);
}
.output .current-operant {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
}
